.slide {
    flex-shrink: 0;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-color: #529ece;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: grab;
}
.no-display {
    display: none;
}